N8N_Workflows/dcat_keyword_few_shot.json
{
  "name": "Keywords few shot 1",
  "nodes": [
    {
      "parameters": {},
      "id": "49d6f081-1ee2-4ec1-ad34-3f43c9358ad5",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        480,
        260
      ]
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/busch/Desktop/masterarbeit/Test files/Keywords/SemEval2017/*",
        "options": {}
      },
      "id": "98fb7a79-912d-4038-b78b-ae7d2a527193",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "687697d2-f0be-4662-a784-cc44a2b6acbb",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1220,
        160
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "ff09fcaa-a2e7-442f-956a-1da6de9854aa",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        880,
        260
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": ""
        }
      },
      "id": "4fe50d22-647a-40e5-bf8d-eb796ef60659",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2800,
        460
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZX29YTH2kiu0Yn0D",
          "name": "Google Sheets account l97.."
        }
      }
    },
    {
      "parameters": {
        "model": "accounts/fireworks/models/llama-v3p2-3b-instruct",
        "options": {
          "baseURL": "https://api.fireworks.ai/inference/v1",
          "frequencyPenalty": 0.5,
          "maxTokens": 300,
          "temperature": 0
        }
      },
      "id": "24ab2a59-1417-4672-a764-5799d8ed96dd",
      "name": "FireworkAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2380,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "vAX0NXxxK41wpEUV",
          "name": "FireworkAI"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "id": "8e8c56ef-3f20-4b56-a98f-0c54ed3685a3",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1660,
        260
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "8sNGyNgidlmAFxq9",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "document.pageContent"
            }
          ]
        },
        "options": {}
      },
      "id": "9918dff7-de13-4c81-a923-8bf348023e76",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2100,
        20
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below is a document. Extract the most relevant and succinct keywords and keyphrases that accurately summarize the content. Focus on identifying key concepts, technical terms, named entities, and significant details. Ensure that each keyword or keyphrase adds meaningful value and is directly related to the core topics of the document. Avoid any repetitions or redundant phrases, and limit the output to a maximum of 20 distinct keywords or keyphrases.\n\nEnsure the output contains only the extracted keyphrases, formatted as a Python list (i.e., enclosed in square brackets, with each keyphrase in single quotes, separated by commas), without any numbering or additional text.\n\nTake these two examples as reference:\n{{ $json.pageContent[0] }}\n\n{{ $json.pageContent[1] }}\n\n{{ $json.pageContent[2] }}\n\n\nDocument to analyze:\n {{ $('Loop Over Items').item.json.document_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert in extracting keywords and keyphrases from documents."
            }
          ]
        }
      },
      "id": "94b06aa6-28e8-4ffa-a5e3-607e0f6512ae",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2340,
        0
      ]
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "inspecexamples",
          "mode": "list",
          "cachedResultName": "inspecexamples"
        },
        "prompt": "=",
        "topK": 3,
        "options": {}
      },
      "id": "04b460fc-915b-49cb-867a-48224ac04cdb",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1660,
        40
      ],
      "retryOnFail": true,
      "credentials": {
        "pineconeApi": {
          "id": "KdCG68LoUziBuQbk",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FireworkAI": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ed6c73e-16ac-4aec-a79b-16f97d73620b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f11519718adee03e2d124652af9bb3152c37445373ae6fdf13778da8befc4a9"
  },
  "id": "oACZAdyjMyWnA7Mj",
  "tags": []
}