N8N_Workflows/dcterms_language_zero_shot.json
{
  "name": "Language zero shot 1",
  "nodes": [
    {
      "parameters": {},
      "id": "cbf450cf-eafd-41c5-8e7a-a4e23e180e36",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        480,
        260
      ]
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/busch/Desktop/masterarbeit/Test files/DCAT-language/*",
        "options": {}
      },
      "id": "f56db53d-2a83-4a2e-9a1d-85453b0a23f5",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0e995f6e-d2d0-4e48-a8ef-8c892138e586",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1140,
        180
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "3ab04d36-5918-4276-bad9-8dd23b8b576f",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        880,
        260
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": ""
        }
      },
      "id": "fda6b8eb-0b1e-4985-9846-17dd12de6638",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2420,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PSQIceMLQtFmxoY0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "4dacad46-5617-411d-b7fc-5b58f44c4b59",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3140,
        300
      ],
      "webhookId": "55a970db-b128-442d-8c46-02d7bc32439f"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "id": "d12c5f5c-df82-4554-acd8-99a7e8496d03",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1860,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "LzoRWIzbq0Zd55eL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Identify the primary language of the following document. Consider linguistic features and structure to determine the language accurately\n\nDocument:\n{{ $json.Value }}\n\nOutput format:\nReturn only the identified language in the following format:\n\"language\"",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert in recognizing languages"
            }
          ]
        }
      },
      "id": "02f32ff1-0c90-4bac-b035-251b02d58e3f",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1740,
        -60
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "725532be-f610-4f07-bf8f-4410d6fc7428",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f11519718adee03e2d124652af9bb3152c37445373ae6fdf13778da8befc4a9"
  },
  "id": "2Q9FAUxGbnGIm8BT",
  "tags": []
}