N8N_Workflows/dcterms_location_few_shot.json
{
  "name": "country/region zero shot",
  "nodes": [
    {
      "parameters": {},
      "id": "93b559bc-4375-460b-8b29-03ef77ae683b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        260
      ]
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/busch/Desktop/masterarbeit/Test files/DCAT-Spatial/jsons/*",
        "options": {}
      },
      "id": "d409b39f-c991-432e-af3b-3892bafaf58c",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        820,
        260
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "676ad070-2f8a-4f5c-941c-98043fa0158d",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2740,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PSQIceMLQtFmxoY0",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "668b6c9b-bc7b-4b4c-a756-347fc2365f03",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1220,
        240
      ]
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "id": "2aeb7d73-398f-4e6c-abb0-897b5925b940",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2140,
        240
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "8sNGyNgidlmAFxq9",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "countries",
          "mode": "list",
          "cachedResultName": "countries"
        },
        "prompt": "={{ $json.text }}",
        "topK": 1,
        "options": {}
      },
      "id": "94f9f248-8859-4c46-9c8d-8ffc7f22065a",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2120,
        60
      ],
      "retryOnFail": true,
      "credentials": {
        "pineconeApi": {
          "id": "KdCG68LoUziBuQbk",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "f77d8d61-8aa2-4d17-80cf-d5f12d96b0e5",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1460,
        140
      ]
    },
    {
      "parameters": {
        "model": "accounts/fireworks/models/llama-v3p2-3b-instruct",
        "options": {
          "baseURL": "https://api.fireworks.ai/inference/v1",
          "maxTokens": 200,
          "temperature": 0
        }
      },
      "id": "06e2014a-159d-486d-a310-3ca645c405a8",
      "name": "FireworkAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1620,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "vAX0NXxxK41wpEUV",
          "name": "FireworkAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Identify and return the name of the country mentioned in the following document text:\nUse the two examples and their annotated country as a guide: \n\nExample 1:\nInput:\"Lorem ipsum dolor sit amet, Germany sadipscing elitr, sed diam nonumy eirmod\ntempor invidunt ut Germany et dolore magna aliquyam erat, sed diam voluptua.\"\n\nOutput: \"Germany\"\n\nExample 2:\nInput:\"Lorem ipsum dolor sit amet, Italy sadipscing elitr, sed diam nonumy eirmod \ntempor invidunt ut Italy et dolore magna aliquyam erat, sed diam voluptua.\"\n\nOutput: \"Italy\"\n\nDocument to analyze: \n{{ $json.data.Text }}\n\nRespond only with the country name, nothing else.   ",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert in the identification of countries"
            }
          ]
        }
      },
      "id": "a24a6fa4-2fde-4c7d-86c9-27882f7bc393",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1700,
        20
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FireworkAI": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3794b0a-5fb9-445f-9b22-7c74d04645ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f11519718adee03e2d124652af9bb3152c37445373ae6fdf13778da8befc4a9"
  },
  "id": "czLUMXKTnCZdmF2j",
  "tags": []
}