N8N_Workflows/dcterms_title_zero_shot.json
{
  "name": "DACT-Title gpt4o zero",
  "nodes": [
    {
      "parameters": {},
      "id": "54b40e75-092b-41fe-82d5-0ef72b123334",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        660,
        440
      ]
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/busch/Desktop/masterarbeit/Test files/DACT-Title/testfiles/3.2 1b zero/*",
        "options": {}
      },
      "id": "85b0f229-a390-4c50-b370-3fe0ac1a2434",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        840,
        440
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "04fb2fa3-b938-4067-8714-9efdd3b360f7",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1060,
        440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "01d011f0-2066-4068-b1d1-93c0626c29ec",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1300,
        440
      ]
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "82e2cf8e-3e69-4d0b-8853-41bf90e1be7b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        520
      ],
      "webhookId": "7ba0c435-02b2-4cdd-832c-592b0d87f9be"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-latest",
        "options": {
          "temperature": 0,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "id": "16b75514-9911-4d78-883e-db411de83247",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1620,
        520
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "8sNGyNgidlmAFxq9",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": ""
        }
      },
      "id": "398c394a-97a1-408b-ac5d-e46a0003aeb3",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1940,
        320
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZX29YTH2kiu0Yn0D",
          "name": "Google Sheets account l97.."
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below is an abstract of a scientific document. Based on the content and key findings described in the abstract, generate a concise and informative title that accurately captures the essence of the document. The title should be clear, specific, and relevant, while also being engaging and reflective of the main topic discussed.\n\nAbstract:\n {{ $json.Abstract }}\n\nRespond only with the title ",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert in the creation of titles for documents"
            }
          ]
        }
      },
      "id": "cc428b56-15fe-495b-894d-84bf6e178600",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1560,
        320
      ],
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0aab2a4a-42d9-4c35-8bd9-721e37a4e90a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f11519718adee03e2d124652af9bb3152c37445373ae6fdf13778da8befc4a9"
  },
  "id": "DJiXuClAnuMgLcLn",
  "tags": []
}